@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	min-width: 0;
}

html {
	scroll-behavior: smooth !important;
}

html {
	@apply h-full;
}

body {
	@apply h-full;
}

:focus {
	outline: none;
}
